.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  /* Add your button styles here */
  /* Example styles */
  background-color: #0076c0;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-controls span {
  /* Add spacing between the quantity and buttons */
  margin: 0 10px;
}
.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  /* Add your button styles here */
  /* Example styles */
  background-color: #0076c0;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-controls span {
  /* Add spacing between the quantity and buttons */
  margin: 0 10px;
}
.quantity-controls button:disabled {
  background-color: rgb(189, 188, 188);
  /* Adjust the opacity or color for disabled state as needed */
  color: rgba(255, 255, 255, 0.7); /* Adjust opacity as desired */
  cursor: not-allowed;
}
